<p>
  <strong>Author</strong>
  <%= @gossip.anonymous_author %>
</p>
 
<p>
  <strong>Gossip:</strong>
  <%= @gossip.content %>
</p>


<p><%= link_to 'Revenir à la liste des gossips', gossips_path %></p>